{% extends "dashboard.html" %}

{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3 class="card-title">Shop Details</h3>
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <div class="mb-3">
                            <label class="form-label">{{ form.title.label }}</label>
                            {{ form.title }}
                        </div>
                        
                        <div class="mb-3">
                            <label class="form-label">{{ form.address.label }}</label>
                            {{ form.address }}
                        </div>
                        
                        <div class="mb-3">
                            <label class="form-label">{{ form.postal_code.label }}</label>
                            {{ form.postal_code }}
                        </div>
                        
                        <div class="mb-3">
                            <label class="form-label">{{ form.phone_number.label }}</label>
                            {{ form.phone_number }}
                        </div>
                        
                        <div class="mb-3">
                            <label class="form-label">{{ form.description.label }}</label>
                            {{ form.description }}
                        </div>
                        
                        <div class="form-group">
                            <button class="btn btn-primary mt-3 w-100" type="submit">Update Shop Details</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}